.hidden {
  display: none;
}
.no_event {
  pointer-events: none;
}

/* 全体のサイズ */
main {
  margin: 0 auto;
  max-width: 630px;
}

/* n. この地名はなんと読む？ */
.title {
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}

.title::after {
  display: block;
  width: 120px;
  height: 2px;
  background-color: #00aa36;
  content: "";
  margin-top: 10px;
}

/* 選択肢(選択前)の体裁 */
.choices {
  list-style-type: none;
  padding: 0;
}

.choice {
  border: solid 1px #ebebeb;
  margin: 7px auto;
  font-weight: bold;
  box-shadow: 0 3px 2px -2px rgb(0 0 0 / 13%);
  height: 45px;
  line-height: 45px;
  padding-left: 25px;
}




/* 解答後の正しい選択肢の見た目 */
.choice_correct {
  border: solid 1px #ebebeb;
  margin: 7px auto;
  font-weight: bold;
  box-shadow: 0 3px 2px -2px rgb(0 0 0 / 13%);
  height: 45px;
  line-height: 45px;
  padding-left: 25px;
  background-color: #297dfe;
  color: #ffffff;
}

/* 不正解の選択肢を選んだときの見た目 */
.choice_wrong {
  border: solid 1px #ebebeb;
  margin: 7px auto;
  font-weight: bold;
  box-shadow: 0 3px 2px -2px rgb(0 0 0 / 13%);
  height: 45px;
  line-height: 45px;
  padding-left: 25px;
  background-color: #ff5028;
  color: #ffffff;
}

/* 解答Boxの見た目 */
.result_box {
  padding: 10px;
  background-color: #f5f5f5;
  &__title{
    display: inline-block;
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 16px;
  }
  .correct {
    border-bottom: solid 3px #297dfe;
  }
  .wrong {
    border-bottom: solid 3px #ff5028;
  }
  p{
    margin: 0;
  }
}
